@import "./reset.css";
@import "./base.css";
@import "./layout.css";
@import "./theme.css";

header {
  background-color: #114e60;
  color: aliceblue;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}
.keywordSelect {
  margin-right: 250px;
  float: right;
  margin-top: 80px;
  height: 35px;
}
.keywordSelect:hover {
  background-color: rgb(120, 150, 241);
  cursor: pointer;
  color: white;
}
h1 {
  margin-left: 200px;
  margin-top: 80px;
  float: left;
  font-size: 30px;
  font-weight: bold;
}
.button {
  margin-top: 80px;
  margin-left: 50px;
  display: inline-block;
}

.button button {
  width: 100px;
  height: 35px;
  margin-left: 10px;
  background-color: rgb(189, 236, 255);
  font-size: 15px;
}
.button button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
main {
  box-sizing: border-box;
  width: 80%;
  margin-left: 10%;
}

div {
  background-color: royalblue;
  display: inline-block;
  width: 20%;
  height: 270px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: 4%;
}
div h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 2%;
}

div p {
  font-size: 15px;
  color: aliceblue;
  margin-left: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
}
div h5 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 2%;
}
div img {
  width: 80%;
  height: 50%;
  margin-left: 10%;
}
.photo-template {
  display: none;
}

.sort {
  float: left;
  margin-left: 70px;
  margin-top: 80px;
  height: 35px;
}
.sort:hover {
  background-color: rgb(120, 150, 241);
  cursor: pointer;
  color: white;
}
